.container {
  @apply mx-auto px-4;
  width: 100%;
  @screen md {
    @apply px-8;

    max-width: 1400px;
  }
}

.hero-background {
  background-image: url('../../images/hero-image.jpg');
  height: 95vh;
  background-size: cover;
  margin-top: -85px;
  z-index: 0;
}

.footer-background {
  background-image: url('../../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  @screen lg {
    height: 20rem;
  }
}

.footer-contact-background {
  background-image: url('../../images/footer-contact-background.png');
  padding: 4rem 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  @screen lg {
    background-size: contain;
  }
  z-index: 0;
  height: 20rem;
}

.mobile-book-image {
  // object-position: -8% 0;
  // height: 75vh;
  // object-fit: none;
  transform: translateY(-7.5%);
}
